[submodule "_site"]
	path = _site
	url = https://github.com/worden-lee/adaptive-dynamics-research.git
[submodule "wmd_files/SageDynamicsRepo"]
	path = wmd_files/SageDynamicsRepo
	url = https://github.com/worden-lee/SageDynamics.git
